[submodule "Sphero-Band"]
	path = Sphero-Band
	url = https://github.com/michstmatt/Sphero-Band
[submodule "MSP_SpheroPilot-Sphero-Drive"]
	path = MSP_SpheroPilot-Sphero-Drive
	url = git://github.com/Assassin0795/MSP_SpheroPilot-Sphero-Drive.git
[submodule "Sphero-Director"]
	path = Sphero-Director
	url = https://github.com/gracelu/Sphero-Director
[submodule "Sphero-Floor-Plan"]
	path = Sphero-Floor-Plan
	url = https://github.com/vadlak/Sphero-Floor-Plan
[submodule "Sphero-Morse-Code"]
	path = Sphero-Morse-Code
	url = https://github.com/rkhadder/Sphero-Morse-Code.git
[submodule "MSP_SpheroPilot--Sphero360"]
	path = MSP_SpheroPilot--Sphero360
	url = https://github.com/Shane904/MSP_SpheroPilot--Sphero360
[submodule "Sphero-Share"]
	path = Sphero-Share
	url = https://github.com/JoshuaJB/MSP_SpheroPilot_Sphero-Share.git
[submodule "MSP_SpheroPilot-Sphero-Trainer"]
	path = MSP_SpheroPilot-Sphero-Trainer
	url = https://github.com/Nbot07/MSP_SpheroPilot-Sphero-Trainer.git
[submodule "MSP_SpheroPilot--Tap-Of-War"]
	path = MSP_SpheroPilot--Tap-Of-War
	url = https://github.com/jacensherman/MSP_SpheroPilot--Tap-Of-War
[submodule "Sphero-Azure-GPS"]
	path = Sphero-Azure-GPS
	url = https://github.com/michstmatt/Sphero-Azure-GPS
