[submodule "Sphero-Band"]
	path = Sphero-Band
	url = https://github.com/michstmatt/Sphero-Band
[submodule "MSP_SpheroPilot-Sphero-Drive"]
	path = MSP_SpheroPilot-Sphero-Drive
	url = git://github.com/Assassin0795/MSP_SpheroPilot-Sphero-Drive.git
[submodule "Sphero-Director"]
	path = Sphero-Director
	url = https://github.com/gracelu/Sphero-Director
[submodule "Sphero-Floor-Plan"]
	path = Sphero-Floor-Plan
	url = https://github.com/vadlak/Sphero-Floor-Plan
[submodule "Sphero-Morse-Code"]
	path = Sphero-Morse-Code
	url = https://github.com/rkhadder/Sphero-Morse-Code.git
